<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #ccffff;
}
h1 {
    color: #00004d;
    margin-left: 40px;
} 
</style>
</head>
<body>

<h1>Hobbies</h1>
<p>My favorite hobby is to draw. I like drawing because it is relaxing and the more I practice the prettier it gets.</p>

</body>
</html>
